//Font Stacks//
$font-url--indie : "https://fonts.googleapis.com/css?family=Indie+Flower";


//Layout//
$content-width-small  : 95%;
$content-spacing-small: 3%;


//Breakpoints//
$breakpoint-medium: "(min-width: 769px)";

$max-width: 1400px;

//Grid Rules//
$guts: 10px;

//Base Colors//
$white 					 : #fff;
$platano-green 	 : #388c41;
$black					 : #0b0b0b;
$wolf-grey  		 : #828282;

$sky-blue  		         : #59d7f5;
$cool-purple           : #7157a2;
$emerald               : #1ca713;
$strawberry-jelly  		 : #ad0041;
$mariana-trench 		   : #090b40;
$bad-tan        		   : #da6624;

//Color Themes//
$btn-themes:(
	"default"			 : $sky-blue ,
	"success"			 : $platano-green,
	"error"			   : $strawberry-jelly,
	"warning"			 : $bad-tan,
	"info"				 : $cool-purple
);

$col-themes:(
	"3"			 		 : $cool-purple ,
	"4"				 	 : $sky-blue,
	"5"			 		 : $platano-green,
	"6"					 : $mariana-trench,
	"7"			 		 : $bad-tan ,
	"8"				 	 : $strawberry-jelly,
	"12"				 : $emerald
);

$col-sizes:(
	"3"			 		 : 0 25%,
	"4"				 	 : 0 31%,
	"5"			 		 : 0 35%,
	"6"					 : 0 50%,
	"7"			 		 : 0 60%,
	"8"				 	 : 0 65%,
	"9"				 	 : 0 645px,
	"12"				 : 0 100%
);

//Color Use//
$color-first   		 : $sky-blue;
$color-second 		 : $mariana-trench;
$color-accent    	 : $emerald;
$color-shadow    		 : rgba($black, .2);
