@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
.container{
	background-color: $white;
	color: $mariana-trench;
	font-size: 1.5rem;
	font-family: $font-url--indie, Arial, sans-serif;
}

.grid__col--8 p{
	@include break-point {
		width:60vw;
	}
}

.link{
	text-decoration:none;
	text-transform: uppercase;
	color:$bad-tan;
}

.blockquote{
	width: 75%;
	font-size: 1.65rem;
	font-style:italic;
	padding-left: 15px;
	border-left: 7px solid $bad-tan;
	border-radius: 5px;
	color:$wolf-grey;
}

.headline--primary{
	color:$cool-purple;
	padding-left: 5%;
}

.headline--secondary{
	margin-left: 20px;
}
